

/* for styling on the outside of this container, see index_style.css */
div#game_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	}	


/* ********************** */
/* -- BELOW: Game Side -- */
/* ********************** */

section#game_grid{
	width: 335px;
	display: block;
	padding: 0.5rem;
	}	

section.letter6_grid{
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-gap: 1px;
	justify-content: center;
	}

div.letter{
	width: 50px;
	height: 50px;
	background-color: #6699ff;
	display: block;
	border-top: 1px solid #f2f2f2;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #404040;
	border-left: 1px solid #bfbfbf; 
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 4rem;
	padding: 0.5rem;
	text-align: center;
	}

div.correct{
	background-color: #009900;
	}

div.almost{
	background-color: #ffff66;
	color: #ff9900;
	}

div.wrong{
	background-color: #6699ff;
	}	
	
/* *********************** */
/* -- BELOW:  User Side -- */
/* *********************** */
	
section#user{
	width: 300px;
	padding-top: 15px;
	display: block;
	text-align: center;		
	}

div#user_feedback{
	width: 300px;
	height: 150px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	border: 1px solid black;
	}	

p#feedback{
	/* text style inside the feedback window */
	}

div#input_line{
	margin: 7px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	}
	
input[type=text] {
	font-size: 2rem;
	width: 175px;
	height: 4rem;
	padding: 0.2rem;
	text-align: center;
	margin: auto;
	}

div#jsSendInput{
	width: 75px;
	height: 4rem;
	margin: 0.01rem;
	background-color: #009900;
	cursor: pointer;
	display: flex;
	} 

p#inputBtnTxt{
	margin: auto;
	padding: 0.5rem;
	}

.overBorders{
	border: 2px solid;	
	border-top-color: #f2f2f2;
	border-left-color: #e6e6e6;
	border-right-color: #808080;
	border-bottom-color: #666666;
	}

.onClicking{
	border: 2px solid;	
	border-top-color: #666666;
	border-left-color: #808080;
	border-right-color: #e6e6e6;
	border-bottom-color: #f2f2f2;
}

div#user_score{
	width: 200px;
}

p.score{
	font-weight: bold;
}

p span{
	font-size: 1.5rem;
}

/* BELOW:  INPUT CHANGES to feedbackWindow */		


div.winner{
	background-color: #ccffcc;
	}

div.warning{
	background-color: #ffff66;
	}

p.warning{
	color: red;
}

div.error{
	background-color: #000;
}